@model IEnumerable<BusStop.Models.Allocate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Routee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Routee.Stop1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Routee.Stop2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Routee.Stop3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.AvailableSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Routee.RouteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Routee.Stop1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Routee.Stop2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Routee.Stop3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.allocateID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.allocateID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.allocateID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
